<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Picker issue : <a href="https://github.com/ionic-team/ionic/issues/15579"> https://github.com/ionic-team/ionic/issues/15579 </a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profileForm" padding-top>
      <div id="times" (click)="showPicker()" class="fake-input">
        {{profileForm.value.times}}
        <span *ngIf="!profileForm.value.times" class="fake-placeholder">Click on me twice</span>
      </div>
  </form>
</ion-content>
